<h3>Products</h3>

<div class="row">
  <% @products.each do |product| %>
    <div class="col-md-4">
      <div class="image_show", id="image_show_<%= product.id %>">
        <img src="<%= product.image %>">
        <p><%= product.description %></p>
      </div>
      <h4><%= link_to product.name, product_path(product), remote: true %></h4>
      <p><%= number_to_currency product.price %></p>
      <%= form_for @order_item, remote: true do |f| %>
        <%= f.hidden_field :product_id, value: product.id %>
        <%= f.text_field :quantity, placeholder: "Please add input!" %>
        <span class="waves-effect waves-light btn"><%= f.submit "Add to cart" %></span>
      <% end %>
    </div>
  <% end %>
</div>
